.navbar-nav>li>a {
  color: #257f88ff;
}

.dropdown-menu>li>a {
  color: #257f88ff;
}

.dropdown-toggle {
  color: #257f88ff;
}

.dropdown-toggle:hover {
  background-color: rgb(255, 255, 255);
}

.antenav {
  background-image: linear-gradient(to right, rgb(110, 179, 185), #025a58ff);
  width: 100%;
  height: 50px;

}

.image-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  font-size: 2vw;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6)
}


.overlay-button {
  padding: 10px 20px;
  background-color: #257f88ff;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 5px;
}

.overlay-button:hover {
  background-color: #1a5b61ff;
}

.botaobanner {

  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}

.botaoazul {
  background-color: transparent;
  border: 2px solid #1a5b61ff;
  color: #1a5b61ff;

}


.botaoazul:hover {
  background-color: #1a5b61ff;
  color: white;
}


#botaocadastrar {
  margin-top: 10px;
}

.custom-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.icon img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.small-text {
  font-size: 12px;
  color: #257f88ff;
}

.carouselmedidas {

  padding: 30px 0px 10px 0px;
}

.quemsomos {
  padding: 0px 30px 60px 30px;
}

.custom-btn {
  background: transparent;
  border-color: #ff904a;
  border: 2px solid;
  color: #ff904a;
}

.custom-btn:hover {
  background-color: #ff904a;
  border-color: #ff904a;
  color: white;
}

#luna-font {
  font-family: 'Luna', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: 19px;
  text-align: justify;
  padding: 0px 30px 60px 30px;
}
.carousel-caption {
  background-color: transparent; 
  padding: 20px;
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.content {
  flex: 1;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}